<div class="container">
  <h6>TAREA NUMERICA</h6>
    <% @parameters.each do |d| %>
      <% @numeric_question.pregunta = @numeric_question.pregunta.gsub(d.name, d.number.to_s) %>
    <% end %>
    <%= @numeric_question.pregunta %>
    <% @numeric_question.save  %>

    <%= form_with url: {action: "submit_answer", id: @numeric_question.id}, method: :post do |f| %>
    <br>
      <% @numeric_question.numeric_answers.each do |answer| %>
        <%= f.label "answer_#{answer.id}", "Respuesta" %>
        <%= f.text_field "answers[#{answer.id}]", id: "answer_#{answer.id}" %>
        <br>
      <% end %>
      <br>
      <%= f.submit "Answer", class:'btn btn-primary btn-sm' %>
    <% end %>

</div>
