<div class="card mb-3">

  <div class="card-body">  
    <div class="card-header">
      <%= ticket.title %>  ID#<%= ticket.id %>
    </div>
    
    <blockquote class="blockquote mb-2">
      <% if current_user.executive? || current_user.supervisor? || current_user.admin? %>
        <div class="card-title px-3">
          User name: <%= ticket.normal_user.full_name %> 
        </div>
          <div class="mb-2">
            email: <%= ticket.normal_user.email %>
          </div>
          


        <div class="mb-2">Priority: <%= ticket.priority.capitalize %></div>
        <div class="state <%= ticket.state %>">State: <%= ticket.state.capitalize %></div>
        <% if ticket.reopened? && action_name == 'show' %>
          <p>Response Quality: <%= ticket.response_quality %></p>
        <% end %>
        <p></p>
      <% elsif current_user.normal? %>
        <div class="card-title px-3">
          Executive in charge: <%= ticket.executive_user.full_name %>
        </div>
        <% if ticket.executive_response.present? && !show_view_button && action_name == 'show' %>
          <p class="card-text">Executive Response: <%= ticket.executive_response %></p>
          <%= link_to 'Rate Response', edit_ticket_path(ticket), class: 'btn btn-primary me-2' %>
        <% end %>
      <% end %>

      <% unless show_view_button %>
        <p class="card-text">Description: <%= ticket.description %></p>
        <footer class="blockquote-footer">Incident Date: <%= ticket.incident_date.strftime("%e %b %Y") %></footer>
      <% end %>
       
      <footer class="blockquote-footer">Creation Date: <%= ticket.creation_date %></footer>
      <footer class="blockquote-footer">Deadline: <%= ticket.formatted_deadline %></footer>

      <div class="d-flex">
        <% if show_view_button %>
          <%= link_to 'View', ticket, class: 'btn btn-primary me-2' %>
        <% end %>

        <% if (current_user.executive?) && !show_view_button && action_name != 'edit' %>
          <%= link_to 'Respond', edit_ticket_path(ticket), class: 'btn btn-primary me-2' %>
        <% end %>

        <% if current_user.normal? %>
          <%= button_to 'Destroy', ticket, confirm: 'Are you sure?', :disable_with => 'deleting...', method: :delete, :class => 'btn-mini btn-danger btn' %> 
        <% end %> 
      </div>  
    </blockquote> 
  </div> 
</div> 

<style> 
  .state { 
    font-weight: bold; 
    color: #333; 
    padding: 4px 8px; 
    border-radius: 4px; 
  } 

  .state.open { 
    background-color: #4caf50; 
    color: #fff; 
  } 

  .state.closed { 
    background-color: #9e9e9e; 
    color: #fff; 
  } 

  .state.reopened { 
    background-color: #f44336; 
    color: #fff; 
  } 
</style> 
