<div class="container">
  <% if current_user.normal? || current_user.executive?%>
    <h1>All Your Tickets</h1>
  <%end%>
  <% if current_user.admin? || current_user.supervisor?%>
    <h1>All User's Tickets</h1>
  <%end%>
  
  <% if current_user.executive?%>
    <%= link_to 'Sort by priority', tickets_path(sort_by: 'priority', order: params[:order] == 'asc' ? 'desc' : 'asc'), class: 'btn btn-primary mb-3' %>
      <%= link_to 'Sort by deadline', tickets_path(sort_by: 'deadline', order: params[:order] == 'asc' ? 'desc' : 'asc'), class: 'btn btn-primary mb-3' %>
  <%end%>

  <% if @tickets.empty? %>
    <h1>No Tickets Available</h1>
  <% elsif current_user.normal? %>
    <div class="row">
      <div class="col-md-6">
      <%= link_to 'Sort by date', tickets_path(sort_by: 'created_at', order: params[:order] == 'asc' ? 'desc' : 'asc'), class: 'btn btn-primary mb-3' %>

        <h2>Pending Tickets</h2>
        <%= render partial: "ticket", collection: @tickets.select { |t| t.executive_response.blank? || t.state == "reopened" }, as: :ticket, locals: { show_view_button: true } %>
      </div>
      <div class="col-md-6">

        <h2>Responded Tickets</h2>
        <%= render partial: "ticket", collection: @tickets.select { |t| t.executive_response.present? && t.state != "reopened" }, as: :ticket, locals: { show_view_button: true } %>
      </div>
    </div>
  <% else %>
    <%= render partial: "ticket", collection: @tickets, as: :ticket, locals: { show_view_button: true } %>
  <% end %>
</div>
