<div class="container">
  <h1>New Ticket</h1>
  <%= form_with model: @ticket do |f| %>
    <div class="form-row">
      <div class="form-group col-6">
        <%= f.text_field :title, placeholder: 'Titulo', class: 'form-control' %>
      </div>

      <div class="form-group col-6">
        <%= f.text_field :description, placeholder: 'Description', class: 'form-control' %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <%= f.label :incident_date %>
        <%= f.date_field :incident_date, class: 'form-control' %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :images %>
      <%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/png,application/pdf', class: 'form-control' %>
    </div>




    <%= f.submit 'Guardar', class: 'btn btn-primary mt-2' %>
  <% end %>
</div>
