<div class="container">
  <h1 class="text-center mb-4 mt-4">Ticket Reports</h1>

  <% @ticket_counts.each do |month, counts| %>
    <h2 class="col-md-6 mt-4"><%= month %></h2>
    <div class="row">
      <div class="col-md-6 mt-4">
        <ul class="list-group">
          <li class="list-group-item ">Opened Tickets: <%= counts[:opened] %></li>
          <li class="list-group-item">Closed Tickets: <%= counts[:closed] %></li>
        </ul>
      </div>
      <div class="col-md-6">
        
        <button class="btn btn-primary mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#<%= month %>-chart-container" aria-expanded="false" aria-controls="<%= month %>-chart-container">
          Show/Hide Chart
        </button>
        <div class="collapse" id="<%= month %>-chart-container">
          <canvas id="<%= month %>-chart"></canvas>
        </div>
      </div>
    </div>
    <script>
      var ctx = document.getElementById('<%= month %>-chart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: <%= raw @tag_counts[month].keys.to_json %>,
          datasets: [{
            label: 'Tag Counts',
            data: <%= raw @tag_counts[month].values.to_json %>,
            backgroundColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            },
            x: {
                ticks: {
                    color: '#000000'
                }
            }
          },
          plugins: {
            legend: {
              labels: {
                color: '#000000'
              }
            }
          }
        }
      });
    </script>
<% end %>
</div>
