<div class="container" >
    <h6>
    <%=  @multiple_choice_question.question %>
    </h6>
    <% if !@task.redo %>
    <%= form_with url: {action: "submit_answer", id: @multiple_choice_question.id}, method: :post do %>
        <% @multiple_choice_question.choices.each do |choice| %>
        <%= radio_button_tag :selected_choice, choice.id %>
        <%= label_tag :selected_choice, choice.answer %>
        <br>
        <% end %>
        <br>
        <%= submit_tag "Submit", class:'btn btn-primary btn-sm' %>
    <% end %>
    <% else %>
    <%= form_with url: {action: "redo_answer", id: @multiple_choice_question.id}, method: :post do %>
        <% @multiple_choice_question.choices.each do |choice| %>
        <%= radio_button_tag :selected_choice, choice.id %>
        <%= label_tag :selected_choice, choice.answer %>
        <br>
        <% end %>
        <br>
        <%= submit_tag "Redo Answer", class:'btn btn-primary btn-sm' %>
    <% end %>
    <% end %>
</div>
